html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, section, article, aside, header, footer, nav, dialog, figure, menu, hgroup, iframe {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'STHeiti', 'WenQuanYi Micro Hei', SimSun, sans-serif;
    border: 0;
}
body {
    font-size: 12px;
    line-height: 1.5;
    color: #3c3c3c;
    background: #fff;
}
a, a:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #3c3c3c;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3 ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
a:hover {
    color: #00bfcd;
}

.clearfix:before,.clearfix:after{ 
    content:""; 
    display:table; 
} 
.clearfix:after{clear:both;} 
.clearfix{ 
    *zoom:1;/*IE/7/6*/
}

@font-face {font-family: 'iconfont';
    src: url(../iconfont/iconfont.eot); /* IE9*/
    src: url(../iconfont/iconfont.eot) format('embedded-opentype'), /* IE6-IE8 */
    url(../iconfont/iconfont.woff) format('woff'), /* chrome、firefox */
    url(../iconfont/iconfont.ttf) format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url(../iconfont/iconfont.svg) format('svg'); /* iOS 4.1- */
}
[class^="icon-"],[class*=" icon-"]{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*工具栏*/
.icon-qq:before { content: "\e600"; }
.icon-chat:before { content: "\e604"; }
.icon-weibo:before { content: "\e601"; }
.icon-weixin:before { content: "\e602"; }
.icon-top:before { content: "\e603"; }

.toolbar{
    position: fixed;
    right: 10px;
    bottom: 200px;
}
.toolbar-item{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}
.toolbar-qq{
    background: #68a4e0;
}
.toolbar-qq:hover{
    background: #498ed3;
}
.toolbar-chat{
    background: #00bfcd;
}
.toolbar-chat:hover{
    background: #0bacb8;
}
.toolbar-weibo{
    background: #f77075;
}
.toolbar-weibo:hover{
    background: #ef5c61;
}
.toolbar-weixin{
    background: #3bc574;
}
.toolbar-weixin:hover{
    background: #2aaf61;
}
.toolbar-backtop{
    background: #f0b421;
}
.toolbar-backtop:hover{
    background: #dca41b;
}
.toolbar-icon{
    display: block;
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
}
.toolbar-code{
    position: absolute;
    left: -138px;
    top: 0;
    width: 130px;
    height: 130px;
    background: url(../images/qrcode.png) no-repeat center center #fff;
    border: 1px solid #e6e6e6;
    box-shadow: -1px 2px 4px rgba(0,0,0,.3);
    opacity: 0;
    transform: scale(0.01);
    transform-origin: right top;
    transition: all 0.3s
}
.toolbar-weixin:hover .toolbar-code{
    opacity: 1;
    transform: scale(1);
}

/*头部*/
.header {
    width: 100%;
    min-width: 1000px;
    height: 90px;
    background: #fff;
}
.header .header-wrap {
    width: 1000px;
    margin: 0 auto;
}
.header-wrap .header-logo {
    float: left;
}
.header-wrap .header-logo a {
    display: block;
    width: 174px;
    height: 43px;
    margin-top: 23px;
    background: url(../images/logo.png) no-repeat;
}
.header-wrap .header-logo h1 {
    text-indent: -2000px;
}
.header-wrap .header-nav {
    float: right;
}
.header-wrap .header-nav li {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-left: 3px;
    font-size: 14px;
    line-height: 90px;
    text-align: center;
}
.header-wrap .header-nav li a {
    display: block;
    width: 100%;
    height: 100%;
    transition: none;
}
.header-wrap .header-nav li a:hover{
    color: #fff;
    background: #00bfcd;
}

.header-wrap .header-nav .active a{
    color: #fff;
    background: #00bfcd;    
}


/*页尾*/
.footer{
    clear: both;
    width: 100%;
    min-width: 1000px;
    height: 160px;
    background: #00bfcd;
    color: #fff;
}
.footer a{
    color: #fff;
}
.footer a:hover{
    text-decoration: underline;
}
.footer .footer-inner{
    width: 1000px;
    margin: 0 auto;
}
.footer .footer-about{
    float: left;
}
.footer .footer-about ul{
    margin-top: 50px;
}
.footer .footer-about ul li{
    display: inline;
    font-weight: 500;
    line-height: 30px;
}
.footer .footer-about ul .item1:before{
    display: none;
}
.footer .footer-about ul li:before{
    content: " ";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 10px;
    background: #fff;
    vertical-align: -1px;
}
.footer .hotline{
    float: right;
    margin-top: 55px;
}
.footer .hotline i{
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 5px;
    background: url(../images/kefu_icon.png) no-repeat center center;
}
.footer .hotline span{
    float: right;
    line-height: 1;
}
.footer .hotline em{
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}