/*头部banner*/
.top-banner{
    clear: both;
    width: 100%;
    min-width: 1000px;
    height: 330px;
}
.top-banner a{
    display: block;
    width: 100%;
    height: 100%;
}

/*日本医疗*/
.medical{
    width: 100%;
    min-width: 1000px;
    margin-top: 75px;
}
.medical .medical-inner{
    width: 1000px;
    margin: 0 auto;
}
.medical-inner h2{
    font-size: 32px;
    line-height: 35px;
    color: #00bfcd;
    text-align: center;
}
.medical-inner span{
    display: block;
    font-size: 16px;
    color: #cecece;
    text-align: center;
}
.medical-inner p{
    width: 700px;
    margin: 15px auto 0;
    font-size: 14px;
    line-height: 26px;
}
.medical-inner .medical-desc{
    overflow: hidden;
}
.medical-inner .medical-desc a{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.medical-inner .medical-desc a:hover{
    color: #000;
}
.medical-inner .medical-desc a:hover img{
    opacity: 0.7;
    filter: alpha(opacity=50);
}
.medical-inner .medical-desc .medical-figure{
    float: left;
    width: 168px;
    margin: 40px 82px 0;
}
.medical-inner .medical-desc .medical-figure dt{
    width: 100%;
    height: 168px;
    display: table-cell;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}
.medical-inner .medical-desc .medical-figure dt img{
    max-width: 100%;
    max-height: 100%;
}
.medical-inner .medical-desc .medical-figure dd{
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

/*医疗器械*/
.apparatus {
    width: 100%;
    height: 405px;
    margin-top: 75px;
    background: url(../images/japan_banner02.jpg) no-repeat center center #f3f6f8;
}
.apparatus .apparatus-inner {
    width: 1000px;
    margin: 0 auto;
}
.apparatus-inner .apparatus-desc {
    float: right;
    width: 450px;
    margin: 125px 45px 0 0;
}
.apparatus-inner .apparatus-desc h2 {
    font-size: 32px;
    line-height: 35px;
    color: #00bfcd;
}
.apparatus-inner .apparatus-desc p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 28px;
}

/*优势*/
.advantage{
    width: 100%;
    min-width: 1000px;
    margin-top: 75px;
    overflow: hidden;
}
.advantage .advantage-inner{
    width: 1000px;
    margin:0 auto;  
}
.advantage .advantage-inner h2{
    font-size: 32px;
    line-height: 35px;
    color: #00bfcd;
    text-align: center;
}
.advantage .advantage-inner span{
    display: block;
    font-size: 16px;
    color: #cecece;
    text-align: center;
}
.advantage .advantage-inner .advantage-desc{
    margin-right: -80px;
}
.advantage-inner .advantage-desc .advantage-figure{
    float: left;
    width: 280px;
    margin: 40px 80px 0 0;
}
.advantage-inner .advantage-desc .advantage-figure dt{
    width: 100%;
    height: 152px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.advantage-inner .advantage-desc .advantage-figure dt img{
    max-width: 100%;
    max-height: 100%;
}
.advantage-inner .advantage-desc .advantage-figure dd{
    margin-top: 5px;
    font-size: 12px;
    line-height: 24px;
}
.advantage-inner .advantage-desc .advantage-figure dd h3{
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

/*就诊环境、酒店*/
.hotel{
    clear: both;
    width: 100%;
    min-width: 1000px;
    margin-top: 75px;
    padding-top: 55px;
    padding-bottom: 100px;
    background: #f3f6f8;
}
.hotel h2{
    font-size: 32px;
    line-height: 35px;
    color: #00bfcd;
    text-align: center;
}
.hotel span{
    display: block;
    font-size: 16px;
    color: #cecece;
    text-align: center;
}
.hotel .hotel-desc{
    width: 1000px;
    margin: 50px auto 0;
    overflow: hidden;
}
.hotel .hotel-desc .hotel-item{
    float: left;
    width: 335px;
    height: 190px;
}
.hotel .hotel-desc .item1{
    width: 330px;
    height: 380px;
}
.hotel .hotel-desc .hotel-item img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}


/*合作医院*/
.hospital{
    clear: both;
    width: 100%;
    min-width: 1000px;
    margin-top: 75px;
    overflow: hidden;
}
.hospital h2{
    font-size: 32px;
    line-height: 35px;
    color: #00bfcd;
    text-align: center;
}
.hospital span{
    display: block;
    font-size: 16px;
    color: #cecece;
    text-align: center;
}
.hospital  .hospital-desc{
    width: 1000px;
    margin: 40px auto 0;
}
.hospital-desc .hospital-item{
    width: 100%;
    margin-bottom: 80px;
}
.hospital-desc .hospital-item .hospital-imgbox{
    float: left;
    width: 280px;
    height: 170px;
}
.hospital-desc .hospital-item .hospital-imgbox img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.hospital-desc .hospital-item .hospital-content{
    float: left;
    width: 400px;
    margin: 0 40px;
}
.hospital-desc .hospital-item .hospital-content h3{
    font-size: 16px;
    font-weight: 500;
}
.hospital-desc .hospital-item .hospital-content p{
    margin-top: 10px;
    font-size: 12px;
    line-height: 24px; 
}
.hospital-desc .hospital-item .hospital-content .feedback{
    margin-top: 20px;
}
.hospital-desc .hospital-item .hospital-content .feedback dt{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
.hospital-desc .hospital-item .hospital-content .feedback dt img{
    max-width: 100%;
    max-height: 100%;
}
.hospital-desc .hospital-item .hospital-content .feedback dd{
    float: left;
    width: 338px;
    height: 36px;
    margin: 7px 0 0 10px; 
    text-indent: 20px;
    line-height: 36px;
    background: url(../images/talk.png) no-repeat left center;
}
.hospital-desc .hospital-item .booking{
    float: right;
    width: 140px;
}
.hospital-desc .hospital-item .booking ul{
    margin-top: 30px;
}
.hospital-desc .hospital-item .booking ul li{
    font-size: 16px;
    line-height: 26px;
    color: #00bfcd;
    text-align: center;
}
.hospital-desc .hospital-item .booking ul li .booking-btn{
    display: block;
    width: 114px;
    height: 32px;
    margin: 20px auto 0;
    color: #fff;
    line-height: 32px;
    font-weight: 500;
    background: #00bfcd;
    border-radius: 3px;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.hospital-desc .hospital-item .booking ul li .booking-btn:hover{
    background: #06adb9;
}

/*底部banner*/
.bottom-banner{
    width: 100%;
    min-width: 1000px;
    height: 296px;
    margin-top: 20px;
}

/*弹出层*/
.mask{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 1000;
    display: none;
}

.popup{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1001;
    width: 500px;
    height: 496px;
    margin-top: -250px;
    margin-left: -248px;
    background: #fff;
    display: none;
}
.popup .close{
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/close.png) no-repeat center center;
    cursor: pointer;
}
.popup-inner{
    width: 377px;
    margin: 40px 60px;
}
.popup-inner h4{
    font-size: 22px;
    font-weight: 500;
    color: #00bfcd;
}
.popup-inner .form-box{
    margin-top: 20px;
    font-size: 12px;
    color: #424242;
}
.popup-inner .form-box p input{
    width: 375px;
    height: 40px;
    margin-bottom: 15px;
    padding: 0;
    text-indent: 10px;
    vertical-align: middle;
    border: 1px solid #dadada;
    border-radius: 3px;
}
.popup-inner .form-box textarea{
    width: 375px;
    height: 100px;
    padding-top: 10px;
    text-indent: 10px;
    resize: none;
    border: 1px solid #dadada;
    border-radius: 3px;
}
.popup-inner .form-box .submit-btn{
        margin: 20px auto 0;
}
.popup-inner .form-box .submit-btn input{
    width: 377px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
    border: none; 
    border-radius: 3px;
    cursor: pointer;
    background: #00bfcd;
}